RewriteEngine On
Options All -Indexes

## ROUTER WWW Redirect.
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

### ROUTER HTTPS Redirect
#RewriteCond %{HTTP:X-Forwarded-Proto} !https
#RewriteCond %{HTTPS} off
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


# ROUTER URL Rewrite
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php?route=/$1 [L,QSA]

SetEnv ROOT "http://localhost/mobiliaria/src"
SetEnv URL_BASE "http://localhost/mobiliaria"


SetEnv DB_HOST "localhost"
SetEnv DB_PORT ""
SetEnv DB_NAME "stackhouse"
SetEnv DB_USER "root"
SetEnv DB_PASS ""

